<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="UpdateLocationMD5" value="https://firmware.ardupilot.org/XagSurveillanceGCS/checksums.txt" />
    <add key="UpdateLocationZip" value="https://firmware.ardupilot.org/XagSurveillanceGCS/XagSurveillanceGCS-latest.zip" />
    <add key="BetaUpdateLocationMD5" value="https://github.com/ArduPilot/XagSurveillanceGCS/releases/download/betarelease/checksums.txt"/>
    <add key="BetaUpdateLocationZip" value="https://github.com/ArduPilot/XagSurveillanceGCS/releases/download/betarelease/XagSurveillanceGCSBeta.zip"/>
    <add key="MasterUpdateLocationMD5" value="https://ci.appveyor.com/api/projects/meee1/XagSurveillanceGCS/artifacts/checksums.txt?branch=master"/>
    <add key="MasterUpdateLocationZip" value="https://ci.appveyor.com/api/projects/meee1/XagSurveillanceGCS/artifacts/XagSurveillanceGCSBeta.zip?branch=master"/>
  </appSettings>
</configuration>